Source: duxtools
Maintainer: vorjdux <vorj.dux@gmail.com>
Section: Development
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: duxtools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmagic1, openssl
Description: A tool-chain for C++ developers.

Package: duxtools-dbg
Architecture: any
Section: debug
Priority: extra
Depends: duxtools (= ${binary:Version})
Description: Debug symbols for Duxtools - A tool-chain for C++ developers.
